.listen{
    display: inline;
    margin: 10px;
    box-shadow: 20px 20px 50px 10px;
}

.uni{
    color: rgb(135, 98, 111);
    text-decoration-line: none;
}

.uni:hover{
    color: white;
    background-image: linear-gradient(left, rgb(135, 98, 111), rgb(165, 128, 141));
    transition-duration: .7s;
    box-shadow: 2px 2px 100px 2px;
    border-radius: 20%;
}

a:hover{
    color: white;
}